*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #ffffff;
	font-family: 'Times New Roman', Times, serif;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #ffbcad;

	text-align: center;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.category_list .ct_item-active{
	background: #FFB09F;
}

/* RESPONSIVE */

@media screen and (max-width: 900px){
	.category_list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){
	#instagram{
		margin-left: 10%;
		width: 10%;
	}
	#casita {
		width: 10%;
	}

}

.titulo {
	text-align: center;
	margin: 40px auto;
	}
#roma {
	display: inline-block;
	margin-left: 41%;
	margin-top: 0px;
	}

.divsample {
	display:inline-block; padding-top: 15px; padding-bottom: 15px; margin-bottom: 40px; background: #b3cefd; width: 49%; text-align: center;
}
.info {
	color: white;
	text-align: center;
	text-decoration: none;
}
