*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #ffffff;
	font-family: 'Times New Roman', Times, serif;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px;
	margin-bottom: 20px;
	background: #B3CEFD;

	text-align: center;
	text-decoration: none;
	color: rgb(255, 255, 255);
	border-radius: 10px;
}

.category_list .ct_item-active{
	background: #FFB09F;
}








.titulo {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	}
#roma {
	display: inline-block;
	margin-left: 43.5%;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 120px;
	}

#instagram {
	width:5%;
	margin-left:32.7%;
}

#casita {
	width:5%;
}

.divsample {
	display:inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #b3cefd;
	width: 48.76%;
	text-align: center;
	margin: 0.5%;
	text-family: "Trebuchet MS";
}
.azul {
	margin: 2%;
	margin-bottom: 0%;
	margin-top: 0%;
}
.info {
	color: white;
	text-align: center;
	text-decoration: none;
	text-family: "Trebuchet MS";
}

#nina {
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #b3cefd;
	width: 100%;
	text-align: center;
	margin: 0%;
	text-family: "Trebuchet MS";
	color: white;
	text-decoration: none;
}

#sobrenosotros {
	display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    background: #FFBCAD;
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 20px;
}

#sobrenosotras {
	margin: 30%;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #7d7d7d;
}

h3 {
	font-size: 48px;
	color: white;
	
}

.mivision {
	font-size: 20px;
	color: white;
}


/* RESPONSIVE */

@media screen and (max-width: 2000px){
	.category_list{
		width: 60%;
		margin-left: 20%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 32%;
		font-size: 14px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){
	#roma {
		margin-left: 35%;
	}
	#instagram {
		margin-left: 10%;
		width: 10%;
	}
	#casita {
		width: 10%;
	}
	.divsample {
		margin: 0.15%;
	}

}
